@font-face {
    font-family: 'Zona Pro Light';
    src: url('../fonts/zonaprothin.woff2') format('woff2'), 
	    url('../fonts/zonaprothin.woff') format('woff'), 
	    url('../fonts/zonaprothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Zona Pro Bold';
    src: url('../fonts/zonaprobold.woff2') format('woff2'),
		url('../fonts/zonaprobold.woff') format('woff'),
		url('../fonts/zonaprobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	height: 100%;
	min-width: 280px;
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2 {
	font-family: 'Zona Pro Bold',sans-serif;
	font-size: 38px;
	line-height: 40px;
	color: #fe9152;
}

.wrapper {
	flex: 1 0 auto;
	margin-right: auto; 
	margin-left:  auto;
	max-width: 860px; 
	background: url(../images/bg.png) center 0 #fff3ed;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);	
	font-family: 'Open Sans', sans-serif;
	color: #333;
	font-size: 18px;
	line-height: 26px;
}

.logo {
	width: 100%;
	background: url(../images/bg_logo.jpg) center 0 no-repeat;
	background-size: cover;
	border-bottom: 1px solid #f5af42;
	text-align: center;	
}

.logo img {
	width: 100%;
	max-height: 260px;
}

.content {	
	padding-right: 20px; 
	padding-left:  20px; 
}

.content-title {
	font-size: 24px;
	font-weight: 700;
	color: #fe9152;
}

.content-skills {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content-skills span {
	padding: 5px 12px 6px 15px;
	margin-top: 13px;
	display: inline-block;
	background-color: #fe9152;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	border-radius: 3px;
}
.content-footer {
	background: #fe9961;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #f5af42;
	color: #fff;
	font-size: 32px;
	line-height: 34px;
	text-align: center;
}

.map {
	padding: 20px;
}

.footer {
  flex-shrink: 0;
}